{% extends 'base.html' %}
{% load static %}

{% block title %}
    Issue Tracker
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block nav_items %}
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'task_create' %}">
                Добавить задачу
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    {#  Search  #}
    <div class="row mb-3">
        <div class="col-12 d-flex justify-content-center align-items-center">
            {% include 'issue_tracker/includes/search.html' %}
        </div>
    </div>

    {#  Top pagination  #}
    <div class="row mb-5">
        <div class="col-12 d-flex justify-content-center">
            {% if is_paginated %}
               {% include 'issue_tracker/includes/pagination.html' %}
            {% endif %}
        </div>
    </div>

    {#  Cards  #}
    <div class="row gx-3 gy-5 mb-5">
        {% for task in tasks %}
            {% include 'issue_tracker/includes/card.html'%}
        {% endfor %}
    </div>

    {#  Bottom pagination  #}
    <div class="row mb-5">
        <div class="col-12 d-flex justify-content-center">
            {% if is_paginated %}
               {% include 'issue_tracker/includes/pagination.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}