<div class="col-12 col-md-4 fw-bold">
    <div class="border border-1 rounded-3 bg-white shadow p-3 h-100">

        <div class="task mb-3">
            <a href="{% url 'task_detail' task.pk %}" style="word-wrap: break-word">
                {{ task.short_description }}
            </a>
        </div>

        <div class="status d-flex flex-wrap gap-1 mb-2">
            Status:
            {% for status in task.statuses.all %}
                <h6>
                    <span class="badge bg-secondary">
                        {{ status.name }}
                    </span>
                </h6>
            {% endfor %}
        </div>

        <div class="types d-flex flex-wrap gap-1 mb-3">
            Types:
            {% for type in task.types.all %}
                <h6>
                    {% if type.name == "Bug" %}
                        <span class="badge bg-warning">
                            {{ type.name }}
                        </span>
                    {% elif type.name == "Task" %}
                        <span class="badge bg-primary">
                            {{ type.name }}
                        </span>
                    {% else %}
                        <span class="badge bg-success">
                            {{ type.name }}
                        </span>
                    {% endif %}
                </h6>
            {% endfor %}
        </div>

        <div class="buttons d-flex gap-1">
            <a href="{% url 'task_update' task.pk %}" class="btn btn-warning btn-sm">Edit</a>
            <a type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal-record-{{ task.pk }}">
                Delete
            </a>

            {% include 'issue_tracker/includes/modal.html' %}
        </div>
    </div>
</div>