{% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination">

             <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">
                        <i class="bi bi-chevron-double-left"></i>
                    </span>
                </a>
            </li>

            {#    Prev    #}
            {% if page_obj.has_previous %}
                 <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">
                            <i class="bi bi-chevron-left"></i>
                        </span>
                    </a>
                </li>
            {% endif %}

            {#    Center    #}
            {% for page in paginator.page_range %}

                {% if page_obj.number == page %}
                    <li class="page-item">
                        <a class="page-link active" href="?page={{ page }}">
                            {{ page }}
                        </a>
                    </li>
                {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page }}">
                            {{ page }}
                        </a>
                    </li>
                {% endif %}

            {% endfor %}

            {#    Next    #}
            {% if page_obj.has_next %}
                 <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">
                            <i class="bi bi-chevron-right"></i>
                        </span>
                    </a>
                </li>
            {% endif %}

             <li class="page-item">
                <a class="page-link" href="?page={{ paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">
                        <i class="bi bi-chevron-double-right"></i>
                    </span>
                </a>
            </li>
        </ul>
    </nav>
{% endif %}